h1, h2, h3, h4, label, p, li
{
  color: white;
}
html {
  height: 100%;
  width: 100%;
}
table thead {
  background-color: white;
}
table tbody {
  background-color: black;
}
label,td,tr {
  color: white;
  border: 2px solid;
  border-color: white;
  border-collapse: collapse;
  padding: 5px;
}
table {
  width: 100%;
}
#main {
  background-color: black;
  opacity: 0.7;
  height: auto;
  margin-left: 15%;
  width: 70%;
  border-radius: 15px;
  padding: 20px;
}
#mainBelow {
  background-color: black;
  opacity: 0.7;
  height: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  position: relative;
  width: 70%;
  margin-left: 15%;
  height: auto;
}
#footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.9; 
  position: absolute;
}