<head>
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
margin-bottom: 0;
border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}

/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}
.row.content {height:auto;}
}
</style>
</head>
<body style="background-color: transparent; padding-top: 2.1cm">

<div class="container-fluid text-center">
<div class="row content">
<div class="col-sm-2 sidenav img-rounded" style="opacity: 0.7; background-color: black; height: 100vh">
<p><a href="#">ITRW 321</a></p>
<p><a href="#">ITRW 322</a></p>
<p><a href="#">ITRW 324</a></p>
</div>
<div class="col-sm-8 text-left img-rounded" style="background-color: black; opacity: 0.4; height: 100vh">
<h1 style="color: white">Welcome</h1>
<p style="color: white">This is QUADOSH industries and we are busy to develop a Demi system for the NWU potch campus. </p>
<p style="color: white">To make the logistics of life as smooth as possible for students, staff and visitors, a well-oiled network of support service departments is hard at work behind the scenes.</p>
<p style="color: white">Some support service departments are centralised at the Institutional Office in Potchefstroom as they are used by everyone in the university community. Examples are the Career Centre, Human Resources and the Language Directorate.</p>
<p style="color: white">Because we want to see our students succeed, we make sure they have access to academic support, libraries, computers, bursary aid, health and wellness services, among many other support services. To bring these services as close as possible to our students, the departments providing them are usually based at the campuses.</p>
<p style="color: white">Some support service departments are centralised at the Institutional Office in Potchefstroom as they are used by everyone in the university community. Examples are the Career Centre, Human Resources and the Language Directorate.</p>
<p style="color: white">Because we want to see our students succeed, we make sure they have access to academic support, libraries, computers, bursary aid, health and wellness services, among many other support services. To bring these services as close as possible to our students, the departments providing them are usually based at the campuses.</p>
<hr>
<h1 style="color: white">News</h1>
<p style="color: white">This is a newly developed Lecturer assistant system with the purpose to ease the administration and communication between students, lecturers and the office administrator.</p>
<hr>
<h3 style="color: white"></h3>

<h3 style="color: white">Developpers</h3>
<p style="color: white">Pieter Swanepoel - Back-end developer</p>
<p style="color: white">Wardie van Tonder - Front-end developer</p>
<p style="color: white">Danie Nortje - Front-end developer</p>
</div>
<div class="col-sm-2 sidenav img-rounded" style="background-color: black; opacity: 0.7; height: 100vh">
<div class="row-content" style="background-color: black; opacity: 0.7">
<p style="color: white">Anouncements</p>
</div>
<div class="row-content" style="background-color: black; opacity: 0.7">
<p style="color: white">Resources</p>
</div>
</div>
</div>
</div>

<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: left">
  <h4 style="color: white">Postal Address:</h4>
  <p style="color: white">Private Bag X6001</p>
  <p style="color: white">Potchefstroom Campus</p>
  <p style="color: white">North-West University</p>
  <p style="color: white">2520</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Ms Kobie Fourie</h4>
  <p style="color: white">Subject group secretary</p>
  <p style="color: white">+27 18 299 2531</p>
  <p style="color: white">Kobie.Fourie@nwu.ac.za</p>
  <p style="color: white">Building G3, room G01, Potchefstroom</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Mr Henry Foulds</h4>
  <p style="color: white">Lecturer</p>
  <p style="color: white">+27 18 299 2532</p>
  <p style="color: white">Henry.Foulds@nwu.ac.za</p>
  <p style="color: white">Building G3, basement, Potchefstroom</p>
</footer>
