<br><br><br><br><br><br>
<div id="body" class="col-md-12">
  <div id="row" class="row">
    <div id="mainBelow" class="text-center">
      <div class="row-content">
        <h4>Announcements</h4>
        <table id="annTable" class="container">
          <tbody>
            <tr>
              <td style="width: 10%">1</td>
              <td>{{ announcement[0] }}</td>
              <td style="width: 10%">{{ announceFor[0] }}</td>
            </tr>
            <tr>
              <td style="width: 10%">2</td>
              <td>{{ announcement[1] }}</td>
              <td style="width: 10%">{{ announceFor[1] }}</td>
            </tr>
            <tr>
              <td style="width: 10%">3</td>
              <td>{{ announcement[2] }}</td>
              <td style="width: 10%">{{ announceFor[2] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div id="row" class="row">
    <div id="main" class="text-justify">
      <h3>Welcome</h3>
      <p>This is the North-West Univarsity's lecturer assistant web-page. The amount of work to be done by lecturers in
        their area is sometimes near impossible for them to do everything they need to do, not to mention at the
        standards that are expected. In order to make these workloads easier, the North-West Univarsity has a lecturer
        assistant program that allow students to take part in this colossal undertaking. The lecturer assistant program
        is a program designed to allow students to help out in various tasks given by lecturers in hopes of not only
        lightening the work load of those lectures, but also give students the change to acquire much needed skills for
        later use in life. At the end students also get paid fair amounts of money to make all the hard work and effort
        of semesters worthwhile.</p>
      <hr>
      <h4>How to apply</h4>
      <p>At the beginning of each semester there are current modules that need student assistants. According to student
        requirements, they can apply for certain modules by filling in the student assistant form provided on the
        web-page that requests a set amount of information. The collected information is then sent to the head
        administrator assistant for further evaluation. If the students consists of all the needed requirements then
        they are accepted by the head admin and notified that they are accepted.</p>
      <hr>
      <h4>Requirements</h4>
      <ul>
        <li>Must be a full time student on the NWU Potchefstroom campus.</li>
        <li>An average of atleast 65% must be achieved for the cerresponding module that the studant wants to
          assistsin.</li>
        <li>The assistants own classes must not overlap with the module that will be assist in by the student (It is
          the
          students own responsibility to make sure that classes dont overlap).</li>
      </ul>
      <hr>
      <h4>Rules</h4>
      <p>Must attend all classes if possible. if not the student must notify the lecturer that he or she won't make it</p>
    </div>
    <br>
  </div>
</div>