<br><br><br><br><br><br><br><b></b>
<h1>To be continued</h1>


<!--<body style="background-color: transparent; padding-top: 2.1cm">-->
<!--<div class="container-fluid img-rounded" style="background-color: black; opacity: 0.7; width: 100vw; padding: 15px">-->
  <!--<ngb-tabset>-->
    <!--<ngb-tab title="Announcement">-->
      <!--<ng-template ngbTabContent>-->
        <!--<form  (ngSubmit)="onSubmitAnnouncement(f)" #f="ngForm" ngForm="disabled">-->
          <!--<label style="color: white">Send announcement to:</label>-->
          <!--<br>-->
          <!--<select type="text" class="form-control" id="to" name="to" ngModel required>-->
            <!--<option value="All">All</option>-->
            <!--<option value="Students">Students</option>-->
            <!--<option value="Lecturers">Lecturers</option>-->
          <!--</select>-->
          <!--<br>-->
          <!--<label for="anouncement" style="color: white">Announcement:</label>-->
          <!--<br>-->
          <!--<textarea type="text" id="anouncement" ngModel name="anouncement" placeholder="Write something.."-->
                    <!--style="height:200px; width: 97vw" required></textarea>-->
          <!--<br>-->
          <!--<button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>-->
        <!--</form>-->
      <!--</ng-template>-->
    <!--</ngb-tab>-->

    <!--//********************************************************************************************************-->

    <!--<ngb-tab title="View Students">-->
      <!--<ng-template ngbTabContent>-->
        <!--<br>-->
        <!--<button class="btn btn-primary" (click)="onGetStudentData()">Student Info</button>-->
        <!--<form #f="ngForm">-->
          <!--<table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid img-rounded" style="padding: 25px; padding-top: 2.1cm">-->
            <!--<thead style="color: purple">-->
            <!--<tr>-->
              <!--<th>Student Number</th>-->
              <!--<th>Student Surname</th>-->
              <!--<th>Student Name</th>-->
              <!--<th>E-mail</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody style="background-color: black">-->
            <!--<tr>-->
              <!--<td>{{data[arr].NwuNumber | json}}</td>-->
              <!--<td>{{data[arr].DemiId | json}}</td>-->
              <!--<td>{{data[arr].demiName | json}}</td>-->
              <!--<td>{{data[arr].modulename | json}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</form>-->
      <!--</ng-template>-->
    <!--</ngb-tab>-->

  <!--</ngb-tabset>-->
<!--</div>-->
<!--</body>-->
