h1,h2,h3,h4,label,p,li{
  color: white;
}
input{
  width: 20vw;
  background-color: white;
  color: black;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
  width: 20vw;
}
input.ng-valid.ng-touched {
  border: 1px green;
  border-style: solid;
}
#container {
  min-height: 100%;
}
#main {
  overflow: auto;
  background-color: black;
  opacity: 0.7;
  padding: 20px;
  margin-bottom: 110px;
  height: auto;
  width: 100%;
  border-radius: 15px;
}
#btnSubmit {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
#btnSubmit:hover {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
#btnSubmit:active {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
#btnSubmit:focus {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
table, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  color: black;
}
label,td,tr {
  color: white;
}
th{
  background-color: white;
  color: black;
}
