<br><br><br><br><br><br> 
<div id="band" class="container text-center" style="background-color: black; opacity: 0.8; width: 100%; padding-top: 2.1cm">
  <h2 style="color: white">School of Computer Science and Information Systems</h2>
  <p style="color: white">What is Computer Science and Information Systems?
    There is an urgent need in South Africa (and globally) for computer scientists and information technologists.  The different programmes in the School of Computer Science and Information Systems (SCSIS) aim to equip graduates with degree-level expertise and applicable skills in the field of Computer Science and Information Systems.</p>

    <p style="color: white">The goal is to provide our students with complete and systematic knowledge and skills of at least one modern relevant programming language, phases of a relevant system development life cycle (SDLC), database techniques and technologies, IT project planning and management techniques, and human-computer interfaces. They should be able to contribute in a professional and ethical manner to the design, development and delivery of computerised systems according to business needs and principles. Students are expected to have knowledge and understanding of the value of information in enterprises and of the technical functioning and processing of information sources, to make a meaningful contribution to strategic decision-making and management of information and information sources.</p>

  <p style="color: white">With the basic and applied skills that the student will acquire through successful completion of these qualifications, he/she will also be prepared and eligible to continue with postgraduate studies in the specialised fields of Computer Science and Information Systems at NQF level 8, thus either a BSc Hons degree or a Postgraduate Diploma in cognate fields.</p>
  <br>
  <h3 style="color: white">THE Staff</h3>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Ms Annette van der Merwe</strong></p><br>
      <a>
        <img src="/src/app/fotos/Me_Annette_vanderMerwe.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Lecturer</p>
        <p>Annette.VanDerMerwe@nwu.ac.za</p>
        <p>Building G3, room G18, Potchefstroom</p>
      <hr>
    </div>
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Ms Kobie Fourie</strong></p><br>
      <a>
        <img src="/src/app/fotos/Me_Kobie_Fourie.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Subject group secretary</p>
        <p>Kobie.Fourie@nwu.ac.za</p>
        <p>Building G3, room G01, Potchefstroom</p>
      <hr>
    </div>
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Mr Henry Foulds</strong></p><br>
      <a>
        <img src="/src/app/fotos/Mr_Henry_Foulds.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Lecturer</p>
        <p>Henry.Foulds@nwu.ac.za</p>
        <p>Building G3, basement, Potchefstroom</p>
      <hr>
    </div>
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Prof Günther Drevin</strong></p><br>
      <a>
        <img src="/src/app/fotos/Prof_Gunther_Drevin.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Professor</p>
        <p>gunther.drevin@nwu.ac.za</p>
        <p>Building G3, room G16, Potchefstroom</p>
      <hr>
    </div>
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Prof Estelle Taylor</strong></p><br>
      <a>
        <img src="/src/app/fotos/Prof_Estelle_Taylor.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Acting Director: School of Computer Science and Information Systems and Associate Professor</p>
        <p>estelle.taylor@nwu.ac.za</p>
        <p>Building G3, room G06, Potchefstroom</p>
      <hr>
    </div>
    <div class="col-sm-4">
      <p class="text-center" style="color: white"><strong>Mr Dirk Snyman</strong></p><br>
      <a>
        <img src="/src/app/fotos/Mr_Dirk_Snyman.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
      </a>
        <p>Lecturer</p>
        <p>dirk.snyman@nwu.ac.za</p>
        <p>Building G3, room G03, Potchefstroom</p>
      <hr>
    </div>
  </div>

  <div class="col-sm-4">
  <p class="text-center" style="color: white"><strong>Prof Hennie Kruger</strong></p><br>
  <a>
    <img src="/src/app/fotos/Prof Hennie Kruger.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
  </a>
    <p>Professor</p>
    <p>hennie.kruger@nwu.ac.za</p>
    <p>Building G3, room G08, Potchefstroom</p>
    <hr>
</div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Mr Henri van Rensburg</strong></p><br>
    <a>
      <img src="/src/app/fotos/Mr_Henri_vanRensburg.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Junior Lecturer</p>
      <p>henri.vanrensburg@nwu.ac.za</p>
      <p>Building G3, room G26, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Dr Janet Liebenberg</strong></p><br>
    <a>
      <img src="/src/app/fotos/Dr_Janet_Liebenberg.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Senior Lecturer</p>
      <p>janet.liebenberg@nwu.ac.za</p>
      <p>Building G3, room G19, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Mr Kobus van Aswegen</strong></p><br>
    <a>
      <img src="/src/app/fotos/Mr_Kobus_vanAswegen.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Lecturer</p>
      <p>kobus.vanaswegan@nwu.ac.za</p>
      <p>Building G3, room G21, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Mrs Linda Redelinghuys</strong></p><br>
    <a>
      <img src="/src/app/fotos/Me_Linda_Redelinghuys.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Lecturer</p>
      <p>10143882@nwu.ac.za</p>
      <p>Building G3, room G02, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Prof R Goede (Roelien)g</strong></p><br>
    <a>
      <img src="/src/app/fotos/Prof_Roelien_Goede.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Professor</p>
      <p>roelien.goede@nwu.ac.za</p>
      <p>Building G3, room G05, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Prof Tiny (JV) du Toit</strong></p><br>
    <a>
      <img src="/src/app/fotos/Prof_Tiny_duToit.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Professor</p>
      <p>Tiny.DuToit@nwu.ac.za</p>
      <p>Building G3, room G07, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Dr Trudie Benadé</strong></p><br>
    <a>
      <img src="/src/app/fotos/Dr_Trudie_Benade.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Lecturer</p>
      <p>trudie.benade@nwu.ac.za</p>
      <p>Building G3, room G17, Potchefstroom</p>
    <hr>
  </div>
  <div class="col-sm-4">
    <p class="text-center" style="color: white"><strong>Mr Rudi Serfontein</strong></p><br>
    <a>
      <img src="/src/app/fotos/Mr_Rudi_Serfontein.jpg" class="img-circle person" alt="Random Name" width="150" height="200">
    </a>
      <p>Lecturer</p>
      <p>Rudi.Serfontein@nwu.ac.za</p>
      <p>Building G3, room G25, Potchefstroom</p>
    <hr>
  </div>
</div>

<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: left">
  <h4 style="color: white">Postal Address:</h4>
  <p style="color: white">Private Bag X6001</p>
  <p style="color: white">Potchefstroom Campus</p>
  <p style="color: white">North-West University</p>
  <p style="color: white">2520</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Ms Kobie Fourie</h4>
  <p style="color: white">Subject group secretary</p>
  <p style="color: white">+27 18 299 2531</p>
  <p style="color: white">Kobie.Fourie@nwu.ac.za</p>
  <p style="color: white">Building G3, room G01, Potchefstroom</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Mr Henry Foulds</h4>
  <p style="color: white">Lecturer</p>
  <p style="color: white">+27 18 299 2532</p>
  <p style="color: white">Henry.Foulds@nwu.ac.za</p>
  <p style="color: white">Building G3, basement, Potchefstroom</p>
</footer>
