<br><br><br><br><br><br>
<div id="main" class="container text-center">
  <h2>School of Computer Science and Information Systems</h2>
  <p>What is Computer Science and Information Systems?
    There is an urgent need in South Africa (and globally) for computer scientists and information technologists.
    The different programmes in the School of Computer Science and Information Systems (SCSIS) aim to equip
    graduates with degree-level expertise and applicable skills in the field of Computer Science and Information
    Systems.</p>

  <p>The goal is to provide our students with complete and systematic knowledge and skills of at least one modern
    relevant programming language, phases of a relevant system development life cycle (SDLC), database techniques
    and technologies, IT project planning and management techniques, and human-computer interfaces. They should
    be able to contribute in a professional and ethical manner to the design, development and delivery of
    computerised systems according to business needs and principles. Students are expected to have knowledge
    and understanding of the value of information in enterprises and of the technical functioning and
    processing of information sources, to make a meaningful contribution to strategic decision-making
    and management of information and information sources.</p>

  <p>With the basic and applied skills that the student will acquire through successful completion of
    these qualifications, he/she will also be prepared and eligible to continue with postgraduate
    studies in the specialised fields of Computer Science and Information Systems at NQF level 8,
    thus either a BSc Hons degree or a Postgraduate Diploma in cognate fields.</p>
  <hr>
  <h3>The Staff</h3>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Ms Annette van der Merwe</strong></h4>
      <a>
        <img src="/src/app/fotos/Me_Annette_vanderMerwe.jpg" alt="">
      </a>
      <p>Lecturer<br />
        Annette.VanDerMerwe@nwu.ac.za<br />
        Building G3, room G18, Potchefstroom</p><br>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Ms Kobie Fourie</strong></h4>
      <a>
        <img src="/src/app/fotos/Me_Kobie_Fourie.jpg" alt="">
      </a>
      <p>Subject group secretary<br />
        Kobie.Fourie@nwu.ac.za<br />
        Building G3, room G01, Potchefstroom</p><br>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Mr Henry Foulds</strong></h4>
      <a>
        <img src="/src/app/fotos/Mr_Henry_Foulds.jpg" alt="">
      </a>
      <p>Lecturer<br />
        Henry.Foulds@nwu.ac.za<br />
        Building G3, basement, Potchefstroom</p><br>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Prof Günther Drevin</strong></h4>
      <a>
        <img src="/src/app/fotos/Prof_Gunther_Drevin.jpg" alt="">
      </a>
      <p>Professor<br />
        gunther.drevin@nwu.ac.za<br />
        Building G3, room G16, Potchefstroom</p><br>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Prof Estelle Taylor</strong></h4>
      <a>
        <img src="/src/app/fotos/Prof_Estelle_Taylor.jpg" alt="">
      </a>
      <p>Acting Director and Associate Professor<br />
        estelle.taylor@nwu.ac.za<br />
        Building G3, room G06, Potchefstroom</p><br>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"><strong>Mr Dirk Snyman</strong></h4>
      <a>
        <img src="/src/app/fotos/Mr_Dirk_Snyman.jpg" alt="">
      </a>
      <p>Lecturer<br />
        dirk.snyman@nwu.ac.za<br />
        Building G3, room G03, Potchefstroom</p> <br>
    </div>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Prof Hennie Kruger</strong></h4>
    <a>
      <img src="/src/app/fotos/Prof Hennie Kruger.jpg" alt="">
    </a>
    <p>Professor<br />
      hennie.kruger@nwu.ac.za<br />
      Building G3, room G08, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Mr Henri van Rensburg</strong></h4>
    <a>
      <img src="/src/app/fotos/Mr_Henri_vanRensburg.jpg" alt="">
    </a>
    <p>Junior Lecturer<br />
      henri.vanrensburg@nwu.ac.za<br />
      Building G3, room G26, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Dr Janet Liebenberg</strong></h4>
    <a>
      <img src="/src/app/fotos/Dr_Janet_Liebenberg.jpg" alt="">
    </a>
    <p>Senior Lecturer<br />
      janet.liebenberg@nwu.ac.za<br />
      Building G3, room G19, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Mr Kobus van Aswegen</strong></h4>
    <a>
      <img src="/src/app/fotos/Mr_Kobus_vanAswegen.jpg" alt="">
    </a>
    <p>Lecturer<br />
      kobus.vanaswegan@nwu.ac.za<br />
      Building G3, room G21, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Mrs Linda Redelinghuys</strong></h4>
    <a>
      <img src="/src/app/fotos/Me_Linda_Redelinghuys.jpg" alt="">
    </a>
    <p>Lecturer<br />
      10143882@nwu.ac.za<br />
      Building G3, room G02, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Prof Roelien Goede</strong></h4>
    <a>
      <img src="/src/app/fotos/Prof_Roelien_Goede.jpg" alt="">
    </a>
    <p>Professor<br />
      roelien.goede@nwu.ac.za<br />
      Building G3, room G05, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Prof Tiny (JV) du Toit</strong></h4>
    <a>
      <img src="/src/app/fotos/Prof_Tiny_duToit.jpg" alt="">
    </a>
    <p>Professor<br />
      Tiny.DuToit@nwu.ac.za<br />
      Building G3, room G07, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Dr Trudie Benadé</strong></h4>
    <a>
      <img src="/src/app/fotos/Dr_Trudie_Benade.jpg" alt="">
    </a>
    <p>Lecturer<br />
      trudie.benade@nwu.ac.za<br />
      Building G3, room G17, Potchefstroom</p><br>
  </div>
  <div class="col-sm-4">
    <h4 class="text-center"><strong>Mr Rudi Serfontein</strong></h4>
    <a>
      <img src="/src/app/fotos/Mr_Rudi_Serfontein.jpg" alt="">
    </a>
    <p>Lecturer<br />
      Rudi.Serfontein@nwu.ac.za<br />
      Building G3, room G25, Potchefstroom</p><br>
  </div>
</div>