<form class="container-fluid img-rounded" style="padding: 30px; background-color: black; opacity: 0.7">
  <h2 style="color: white">Please enter all your personel information in order to create your account.</h2>
  <div class="form-group">
    <label for="Name" style="color: white">Name:</label>
    <input type="Name" class="form-control" id="Name" style="width: 350px">
  </div>
  <div class="form-group">
    <label for="Surname" style="color: white">Surname:</label>
    <input type="Surname" class="form-control" id="Surname" style="width: 350px" >
  </div>
  <div class="form-group">
    <label for="email" style="color: white">Email address:</label>
    <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" style="width: 350px">
  </div>
  <div class="form-group">
    <label style="color: white">Student number:</label>
    <input type="Student number" class="form-control" id="Student number" style="width: 120px">
  </div>
  <!--<div class="form-group">-->
    <!--<label style="color: white">Username:</label>-->
    <!--<input type="username" class="form-control" id="usename" style="width: 350px">-->
  <!--</div>-->
  <div class="form-group">
    <label for="pwd" style="color: white">Password:</label>
    <input type="password" class="form-control" id="pwd" style="width: 350px">
  </div>
  <button type="submit" routerLink="" class="btn btn-primary">Submit</button>
</form>
<footer class="container-fluid text-center panel-footer" style="background-color: gray; border-color: gray">
  <p style="color: white">Administrator: Cobie - 0836314009</p>
  <p style="color: white">Fax: 04685</p>
  <p style="color: white">Support Services: General</p>
</footer>
