<form class="container-fluid img-rounded" style="padding: 30px; background-color: black; opacity: 0.7; padding-top: 2.1cm; height: 100vh">
  <h2 style="color: white">Please enter all your personel information in order to create your account.</h2>
  <div class="form-group">
    <label for="Name" style="color: white">Name:</label>
    <input type="Name" class="form-control" id="Name" style="width: 350px">
  </div>
  <div class="form-group">
    <label for="Surname" style="color: white">Surname:</label>
    <input type="Surname" class="form-control" id="Surname" style="width: 350px" >
  </div>
  <div class="form-group">
    <label for="email" style="color: white">Email address:</label>
    <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" style="width: 350px">
  </div>
  <div class="form-group">
    <label style="color: white">Student number:</label>
    <input type="Student number" class="form-control" id="Student number" style="width: 120px">
  </div>
  <!--<div class="form-group">-->
    <!--<label style="color: white">Username:</label>-->
    <!--<input type="username" class="form-control" id="usename" style="width: 350px">-->
  <!--</div>-->
  <div class="form-group">
    <label for="pwd" style="color: white">Password:</label>
    <input type="password" class="form-control" id="pwd" style="width: 350px">
  </div>
  <button type="submit" routerLink="" class="btn btn-primary">Submit</button>
</form>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: left">
  <h4 style="color: white">Postal Address:</h4>
  <p style="color: white">Private Bag X6001</p>
  <p style="color: white">Potchefstroom Campus</p>
  <p style="color: white">North-West University</p>
  <p style="color: white">2520</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Ms Kobie Fourie</h4>
  <p style="color: white">Subject group secretary</p>
  <p style="color: white">+27 18 299 2531</p>
  <p style="color: white">Kobie.Fourie@nwu.ac.za</p>
  <p style="color: white">Building G3, room G01, Potchefstroom</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Mr Henry Foulds</h4>
  <p style="color: white">Lecturer</p>
  <p style="color: white">+27 18 299 2532</p>
  <p style="color: white">Henry.Foulds@nwu.ac.za</p>
  <p style="color: white">Building G3, basement, Potchefstroom</p>
</footer>

