<body style="background-color: transparent; padding-top: 2.1cm">
<div class="container-fluid img-rounded"
     style="background-color: black; opacity: 0.7; width: fit-content; padding: 10px">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="nwunumber">NWU number:</label>
      <input type="text" id="nwunumber" class="form-control" ngModel name="nwunumber" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" ngModel name="password" required style="width: 20vw">
    </div>
    <div class="form-group">
      <label for="email">E-mail address:</label>
      <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" ngModel name="email" email
             #email="ngModel" required>
    </div>
    <span class="help-block" *ngIf="!email.valid && email.touched" style="color: red">Please enter a valid email!</span>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Login</button>
  </form>
</div>
</body>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: left">
  <h4 style="color: white">Postal Address:</h4>
  <p style="color: white">Private Bag X6001</p>
  <p style="color: white">Potchefstroom Campus</p>
  <p style="color: white">North-West University</p>
  <p style="color: white">2520</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Ms Kobie Fourie</h4>
  <p style="color: white">Subject group secretary</p>
  <p style="color: white">+27 18 299 2531</p>
  <p style="color: white">Kobie.Fourie@nwu.ac.za</p>
  <p style="color: white">Building G3, room G01, Potchefstroom</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Mr Henry Foulds</h4>
  <p style="color: white">Lecturer</p>
  <p style="color: white">+27 18 299 2532</p>
  <p style="color: white">Henry.Foulds@nwu.ac.za</p>
  <p style="color: white">Building G3, basement, Potchefstroom</p>
</footer>

