<form class="container-fluid img-rounded" style="background-color: black; opacity: 0.7; padding: 25px; padding-top: 2.1cm">
  <h2 style="color: white">Appointment Form for Student Assistant, Supplementary Instruction (SI) Leader</h2>
  <p style="color: white">•	Please complete all information in full or the appointment cannot be finalised. INCOMPLETE FORMS MAY DELAY PAYMENT.</p>
  <p style="color: white">•	This appointment is valid only for the period applied for and must be signed by all responsible signatories.</p>
  <p style="color: white">•	All pages need to be initialled. If corrections are made, no Tipex is permissible. The error must be struck out and be signed at.</p>
  <p style="color: white">•	Reasons for temporary appointment (indicate with an x below and attach a motivation).</p>
  <hr>

  <h2 style="color: white">Section A: Personal particulars of temporary employees</h2>
  <div class="form-group">
    <label class="control-label" style="color: white">Copy of ID:</label>
    <input type="file" class="filestyle" data-icon="false" style="background-color: white">
  </div>

  <div class="form-group">
    <label class="control-label" style="color: white">Proof of Student Registration:</label>
    <input type="file" class="filestyle" data-icon="false" style="background-color: white">
  </div>

  <div class="form-group">
    <label style="color: white">Student number:</label>
    <input type="Student number" class="form-control" id="Student number" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Title:</label>
    <input type="title" class="form-control" id="title" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Initials:</label>
    <input type="initials" class="form-control" placeholder="e.g initial1,initial2" id="initials" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Surname:</label>
    <input type="surname" class="form-control" id="surname" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Full Names:</label>
    <input type="fullname" class="form-control" placeholder="e.g Name, Name" id="fullname" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Preferred Name:</label>
    <input type="preferredname" class="form-control" id="preferredname" style="width: 120px">
  </div>

  <br>
  <label style="color: white">Module you want to assist in:</label>
  <div class="form-group">
    <label style="color: white">Module 1:</label>
    <input type="module1" class="form-control" id="module1" style="width: 120px">
  </div>
  <div class="form-group">
    <label style="color: white">Module 2:</label>
    <input type="module2" class="form-control" id="module2" style="width: 120px">
  </div>
  <div class="form-group">
    <label style="color: white">Module 3:</label>
    <input type="module3" class="form-control" id="module3" style="width: 120px">
  </div>

  <br>
  <label style="color: white">Your mark of specific module:</label>
  <div class="form-group">
    <label style="color: white">Module 1:</label>
    <input type="moduleMark1" class="form-control" id="moduleMark1" style="width: 120px">
  </div>
  <div class="form-group">
    <label style="color: white">Module 2:</label>
    <input type="moduleMark2" class="form-control" id="moduleMark2" style="width: 120px">
  </div>
  <div class="form-group">
    <label style="color: white">Module 3:</label>
    <input type="moduleMark3" class="form-control" id="moduleMark3" style="width: 120px">
  </div>

  <br>
  <div class="form-group">
    <label style="color: white">Extension:</label>
    <input type="extension" class="form-control" value="992531" id="extension" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Internal Box:</label>
    <input type="internalbox" class="form-control" value="107" id="internalbox" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Gender:</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Male</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Female</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Other</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Marital Status:</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Single</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Married</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Divorced</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Widowed</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Maiden Name:</label>
    <input type="maidenname" class="form-control" id="maidenname" style="width: 120px">
  </div>

  <div class="form-group">
    <label style="color: white">Correspondance Preference:</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">English</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Afrikaans</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Race (for statistical use):</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">African</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Coloured</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Indian</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">White</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Other</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Date of Birth:</label>
    <input type="dateofbirth" class="form-control" placeholder="DD/MM/YYYY" id="dateofbirth" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Home Language:</label>
    <input type="homelanguage" class="form-control" id="homelanguage" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Nationality:</label>
    <input type="nationality" class="form-control" id="nationality" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">ID Number:</label>
    <input type="idnumber" class="form-control" id="idnumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Income Tax Nr:</label>
    <input type="taxnumber" class="form-control" id="taxnumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Residential Address:</label>
    <input type="residentialaddress" class="form-control" id="residentialaddress" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Postal Address:</label>
    <input type="postaladdress" class="form-control" id="postaladdress" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Zip Code:</label>
    <input type="code" class="form-control" id="code" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Home Telephone Nr:</label>
    <input type="hometelephonenumber" class="form-control" id="hometelephonenumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Mobile Nr:</label>
    <input type="mobilenumber" class="form-control" id="mobilenumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">E-mail address:</label>
    <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Where you previously employed by NWU?</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Yes</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">No</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Are you employed by an employer other than the NWU?</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Yes</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">No</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Are you self-employed?</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Yes</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">No</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Highest Qualification:</label>
    <input type="highestqualification" class="form-control" id="highestqualification" style="width: 350px">
  </div>
  <hr>

  <h2 style="color: white">If a foreign student assistant</h2>
  <div class="form-group">
    <label class="control-label" style="color: white">Copy of Passport:</label>
    <input type="file" class="filestyle" data-icon="false" style="background-color: white">
  </div>

  <div class="form-group">
    <label class="control-label" style="color: white">Study Permit:</label>
    <input type="file" class="filestyle" data-icon="false" style="background-color: white">
  </div>

  <div class="form-group">
    <label class="control-label" style="color: white">Permission to Conduct Work Form:</label>
    <input type="file" class="filestyle" data-icon="false" style="background-color: white">
  </div>

  <div class="form-group">
    <label style="color: white">Passport Nr:</label>
    <input type="passportnumber" class="form-control" id="passportnumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Passport Expiry Date:</label>
    <input type="expirydate" class="form-control" placeholder="DD/MM/YYYY" id="expirydate" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Work Permit Nr:</label>
    <input type="permitnumber" class="form-control" id="permitnumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Work Permit Expiry Date:</label>
    <input type="permitexpiry" class="form-control" placeholder="DD/MM/YYYY" id="permitexpiry" style="width: 350px">
  </div>

  <hr>
  <h2 style="color: white">Section B: Bank details (No payment will be made if these details are not provided.)</h2>
  <div class="form-group">
    <label style="color: white">Account type:</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Current(cheque)</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Savings</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Transmission</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Bank branch code:</label>
    <input type="bankbranch" class="form-control" id="bankbranch" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Account Nr:</label>
    <input type="accountnumber" class="form-control" id="accountnumber" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Name of bank:</label>
    <input type="bankname" class="form-control" id="bankname" style="width: 350px">
  </div>

  <label style="color: white">Account holder:</label>
  <div class="form-group">
    <label style="color: white">Surname:</label>
    <input type="holdersurname" class="form-control" id="holdersurname" style="width: 350px">
    <label style="color: white">Initials:</label>
    <input type="holderinitials" class="form-control" placeholder="e.g Initial1,Initial2" id="holderinitials" style="width: 350px">
  </div>

  <div class="form-group">
    <label style="color: white">Account type:</label>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Own account</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">Joint account</label>
    </div>
    <div class="checkbox">
      <label style="color: white"><input type="checkbox" value="">3rd party</label>
    </div>
  </div>

  <div class="form-group">
    <label style="color: white">Date:</label>
    <input type="date" class="form-control" placeholder="DD/MM/YYYY" id="date" style="width: 350px">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: left">
  <h4 style="color: white">Postal Address:</h4>
  <p style="color: white">Private Bag X6001</p>
  <p style="color: white">Potchefstroom Campus</p>
  <p style="color: white">North-West University</p>
  <p style="color: white">2520</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Ms Kobie Fourie</h4>
  <p style="color: white">Subject group secretary</p>
  <p style="color: white">+27 18 299 2531</p>
  <p style="color: white">Kobie.Fourie@nwu.ac.za</p>
  <p style="color: white">Building G3, room G01, Potchefstroom</p>
</footer>
<footer class="footer col-sm-4" style="background-color: gray; border-color: gray; align-content: right">
  <h4 style="color: white">Mr Henry Foulds</h4>
  <p style="color: white">Lecturer</p>
  <p style="color: white">+27 18 299 2532</p>
  <p style="color: white">Henry.Foulds@nwu.ac.za</p>
  <p style="color: white">Building G3, basement, Potchefstroom</p>
</footer>
