<head>
  <style>
    .navbar-nav:hover{
      transition-property: background-color;
      background-color: purple;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 30px;
      padding: 2px 24px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse sticky-top" style="opacity: 0.7; background-color: black">
  <div class="container-fluid">
    <div class="navbar-header ">
      <img src="/src/app/fotos/logo.png"
           alt="" >
    </div>

    <div class="collapse navbar-collapse" style="padding-top: 10px">
      <ul class="nav navbar-nav">
        <li><a href="#" routerLink="login" style="transition-duration: 0.4s;cursor: pointer; border-radius: 30px; padding: 2px 24px"><h4>Login</h4></a></li>
        <li><a href="#" routerLink="home" style="transition-duration: 0.4s;cursor: pointer; border-radius: 30px; padding: 2px 24px"><h4>Home</h4></a></li>
        <li><a href="#" routerLink="form" style="transition-duration: 0.4s;cursor: pointer; border-radius: 30px; padding: 2px 24px"><h4>Forms</h4></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button" style="transition-duration: 0.4s;cursor: pointer; border-radius: 30px; padding: 2px 24px"><h4>Manage<span class="caret"></span></h4></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
<router-outlet></router-outlet>

