<div id="mainNav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://www.nwu.ac.za/"><img id="logo" src="/src/app/fotos/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" style="padding-top: 2px; padding-right: 10px;">
      <ul id="nav" class="nav navbar-nav">
        <li>
          <button class="btn btn-success" routerLink="home">Home
          </button>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav">
        <li>
          <button class="btn btn-success" (click)="routeInfo($event)">Info
          </button>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav">
        <li>
          <div ngbDropdown class="d-inline-block">
            <button id="btnForms" class="btn btn-success" ngbDropdownToggle>Forms <span class="glyphicon glyphicon-triangle-bottom"></span></button>
            <div id="drop" ngbDropdownMenu aria-labelledby="drop">
              <button class="dropdown-item" (click)="studentSA($event)">SA Students</button>
              <br />
              <button class="dropdown-item" (click)="studentFO($event)">Foreign student</button>
              <br />
              <button class="dropdown-item" (click)="moduleApp($event)">Module application</button>
            </div>
          </div>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav">
        <li>
          <button class="btn btn-success" (click)="routeAbout($event)">About
          </button>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav">
        <li>
          <div ngbDropdown class="d-inline-block">
            <button id="btnLec" class="btn btn-success" ngbDropdownToggle>Lecturer <span class="glyphicon glyphicon-triangle-bottom"></span></button>
            <div id="drop" ngbDropdownMenu aria-labelledby="drop">
              <button class="dropdown-item" (click)="routeQueries($event)">Student info</button>
              <br />
              <button class="dropdown-item" (click)="studentApplication($event)">Applications</button>
            </div>
          </div>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-success" (click)="routeLogin($event)">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </button>
        </li>
      </ul>
      <ul id="nav" class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-success" id="btnManage" (click)="routeManage($event)">
            <span class="glyphicon glyphicon-cog"></span> Manage
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
