<br><br><br><br><br><br><br><br><br><br>

<body>
  <div id="container">
    <div id="main" class="col-md-12">
      <div class="row text-center">
        <h2 class="text-uppercase">Welcome to the NWU demi application website</h2>
        <h3>The one-stop solution for demi applicants.</h3>
        <hr>
      </div>
      <div class="col-md-4 text-center">
        <span class="glyphicon glyphicon-picture"></span>
        <h4>Easy to use interface</h4>
        <p>With responsive design and feature rich implemenattion you as a student
          can easaly create a user account and fill in our simplified application form start you
          journey as a part or full time Demi here at the university.</p>
      </div>
      <div class="col-md-4 text-center text">
        <span class="glyphicon glyphicon-time"></span>
        <h4>Inproved Feedback Time</h4>
        <p>Because of the highly improved and revised method of applications through
          our all new electronic system, feedback about the state of you application can take place at
          more than twice the speed and you, as the student, can get that feedback easly via email.</p>
      </div>
      <div class="col-md-4 text-center">
        <span class="glyphicon glyphicon-lock"></span>
        <h4>Security</h4>
        <p>Thanks to highly thought out and securly implemented account and application
          systems you are esured that any information public or personal you may be required to enter on this
          website will be protected and only provided to those it may be of use to and not any third party outside
          the North West University.</p>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Usage</h4>
        <p>In order to make use of the facilities and features provided by this website a login is required.<br /> In
          case of no existing account a new account can be created through the register section via login.</p>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Designed & Developed by</h4>
        <p>This system including the corresponding smartphone<br /> app was developed by Quadosh Industries inc.</p>
      </div>
      <div class="col-sm-4 text-center">
        <h4>Contact Us</h4>
        <p><span id="mailGlyph" class="glyphicon glyphicon-envelope"></span>
          <a href="mailto:pieterswanepoel108@gmail.com"> Pieter Swanepoel</a>
          <br />pieterswanepoel108@gmail.com</p>
      </div>
    </div>
  </div>
</body>



<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide id="sildeOne">
    <img [src]="images[0]" alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide id="sildeTwo">
    <img [src]="images[1]" alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide id="sildeThree">
    <img [src]="images[2]"  alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel> -->