<br><br><br><br><br>
<section id="services">
    <div id="mainDiv" class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Welcome to the NWU demi application website</h2>
          <h3 class="section-subheading">The one-stop solution for demi applicants.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">   
          <h4 class="service-heading">Easy to use interface</h4>
          <p>With responsive design and feature rich implemenattion you as a student 
            can easaly create a user account and fill in our simplified application form start you 
            journey as a part or full time Demi here at the university.<br><br><br><br><span class="glyphicon glyphicon-picture"></span></p>
        </div>
        <div class="col-md-4"> 
          <h4 class="service-heading">Inproved Feedback Time</h4>
          <p>Because of the highly improved and revised method of applications through 
            our all new electronic system feedback about the state of you application can take place at 
            more than twice the speed and you, as the student, can get that feedback easly via email.<br><br><br><span class="glyphicon glyphicon-time"></span></p>
        </div>
        <div class="col-md-4">
          <h4 class="service-heading">Security</h4>
          <p>Thanks to highly thought out and securly implemented account and application 
            systems you are esured that any information public or personal you may be required to enter on this 
            website will be protected and only provided to those it may be of use to and not any third party outside 
            the North West University.<br><br><span class="glyphicon glyphicon-lock"></span></p>
        </div>
      </div>
    </div>
</section>
<br><br><br><br>
<footer id="information" class="footer col-lg-12">
  <div class="row text-center">
    <div class="col-md-3">
      <h4 class="information-heading">Usage</h4>
      <p>In order to make use of the facilities and features provided by this website a 
        login is required. In case of no existing account a new account can be created 
        through the register section via login</p>
    </div>
    <div class="col-md-5"> 
    </div>
    <div class="col-md-4">
      <h4 class="information-heading">Designed & Developed by</h4>
      <p>This system including the corresponding smartphone app was developed by Quadosh Industries inc.</p>
      <p><span id="mailGlyph" class="glyphicon glyphicon-envelope"></span> Contact Us: <a href="mailto:pieterswanepoel108@gmail.com">Pieter Swanepoel</a><br/>pieterswanepoel108@gmail.com</p>
    </div>
  </div>
</footer>
<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide id="sildeOne">
    <img [src]="images[0]" alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide id="sildeTwo">
    <img [src]="images[1]" alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide id="sildeThree">
    <img [src]="images[2]"  alt="" width="100%" height="100%">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel> -->