<footer id="footer" class="col-sm-12">
    <div class="col-sm-4 text-center">
        <h4>Postal Address</h4>
        <p>Private Bag X6001<br/>
          Potchefstroom Campus<br/>
          North-West University<br/>
          2520</p>
    </div>
    <div class="col-sm-4 text-center">
        <h4>Ms Kobie Fourie</h4>
        <p>Subject group secretary<br/>
          +27 18 299 2531<br/>
          Kobie.Fourie@nwu.ac.za<br/>
          Building G3, room G01, Potchefstroom</p>
    </div>
    <div class="col-sm-4 text-center">
        <h4>Mr Henry Foulds</h4>
        <p>Lecturer<br/>
          +27 18 299 2532<br/>
          Henry.Foulds@nwu.ac.za<br/>
          Building G3, basement, Potchefstroom</p>
    </div>
  </footer>