<br><br><br><br><br><br>

<body>
<div id="main" class="container">
  <ngb-tabset>
    <ngb-tab title="Announcements">
      <ng-template ngbTabContent>
        <form (ngSubmit)="onSubmitAnnouncement(f)" #f="ngForm" ngForm="disabled">
          <br>
          <label>Send announcement to</label>
          <br>
          <select type="text" class="form-control" id="to" name="to" ngModel required>
            <option value="All">All</option>
            <option value="Students">Students</option>
            <option value="Lecturers">Lecturers</option>
          </select>
          <br>
          <label for="anouncement">Announcement</label>
          <br>
          <textarea type="text" id="anouncement" ngModel name="anouncement" placeholder="Write something.."
                    required></textarea>
          <br>
          <button id="btnSubmit" class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Add Lecturers">
      <ng-template ngbTabContent>
        <form (ngSubmit)="onSubmitLecturer(d)" #d="ngForm">
          <br>
          <div class="form-group">
            <label for="preferredname">Preferred Name:</label>
            <input type="text" class="form-control" id="preferredname" ngModel name="preferredname" pattern="[a-zA-Z ]*"
                   required name="preferredname" maxlength="20" #preferredname="ngModel">
            <div *ngIf="preferredname.invalid && (preferredname.dirty || preferredname.touched)"
                 class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="preferredname.errors.required">
                A name is required.
              </div>
              <div *ngIf="preferredname.errors.maxlength">
                Title cannot be longer than 20 characters.
              </div>
              <div *ngIf="preferredname.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" class="form-control" id="surname" ngModel name="surname" pattern="[a-zA-Z ]*" required
                   #surname="ngModel" maxlength="20">
            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="surname.errors.required">
                Surname is required.
              </div>
              <div *ngIf="surname.errors.maxlength">
                Title cannot be longer than 20 characters.
              </div>
              <div *ngIf="surname.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" placeholder="e.g Mr/Miss" pattern="[a-zA-Z ]*"
                   maxlength="4" ngModel name="title" required #title="ngModel">
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger" style="width: 35vw">
              <div *ngIf="title.errors.required">
                Title is required.
              </div>
              <div *ngIf="title.errors.maxlength">
                Title cannot be longer than 4 characters.
              </div>
              <div *ngIf="title.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nwunumber">NWU number:</label>
            <input type="text" id="nwunumber" class="form-control" ngModel name="nwunumber" pattern="\d*" maxlength="8"
                   minlength="8" required #nwunumber="ngModel">
            <div *ngIf="nwunumber.invalid && (nwunumber.dirty || nwunumber.touched)" class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="nwunumber.errors.required">
                NWU number is required.
              </div>
              <div *ngIf="nwunumber.errors.minlength">
                NWU number must be 8 characters long.
              </div>
              <div *ngIf="nwunumber.errors.pattern">
                Must only be numbers.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" id="role" class="form-control" placeholder="Lecturer" pattern="[a-zA-Z ]*" maxlength="20"
                   ngModel name="role" required #role="ngModel">
            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger" style="width: 35vw">
              <div *ngIf="role.errors.required">
                Role is required.
              </div>
              <div *ngIf="role.errors.maxlength">
                Role cannot be longer than 15 characters.
              </div>
              <div *ngIf="title.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="telephonenumber">Telephone number:</label>
            <input type="text" id="telephonenumber" class="form-control" pattern="\d*" maxlength="10" ngModel
                   name="telephonenumber"
                   required #telephonenumber="ngModel">
            <div *ngIf="telephonenumber.invalid && (telephonenumber.dirty || telephonenumber.touched)"
                 class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="telephonenumber.errors.required">
                Telephone number is required.
              </div>
              <div *ngIf="nwunumber.errors.pattern">
                Must only be numbers.
              </div>
              <div *ngIf="telephonenumber.errors.maxlength">
                Telephone number cannot be longer than 10 characters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">E-mail address:</label>
            <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" ngModel name="email"
                   email #email="ngModel" required maxlength="50">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger" style="width: 35vw">
              <div *ngIf="email.errors.required">
                E-mail address is required.
              </div>
              <div *ngIf="telephonenumber.errors.maxlength">
                E-mail cannot be longer than 50 characters.
              </div>
              <div *ngIf="email.errors.email">
                Not a valid E-mail address.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" ngModel name="password" required
                   #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="password.errors.required">
                Password address is required.
              </div>
            </div>
          </div>
          <button id="btnSubmit4" class="btn btn-primary" type="submit" required [disabled]="!d.valid">Submit</button>
        </form>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Accept Demi's">
      <ng-template ngbTabContent>
        <br>
        <button id="btnSubmit3" class="btn btn-primary" (click)="onGetStudentApplication()">Get Applications</button>
        <form #s="ngForm">
          <br>
          <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid">
            <thead>
            <tr>
              <th>Student Number</th>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Module Name</th>
              <th>Module ID</th>
              <th>Module Mark</th>
              <th>Apply</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{data[arr].NwuNumber | json}}</td>
              <td>{{data[arr].DemiId | json}}</td>
              <td>{{data[arr].demiName | json}}</td>
              <td>{{data[arr].modulename | json}}</td>
              <td>{{data[arr].ModuleId | json}}</td>
              <td>{{data[arr].moduleMark | json}}</td>
              <td style="align-content: left; width: 160px">
                <div class="radio" *ngFor="let apply of apply">
                  <label><input type="radio" name="apply" ngModel id="{{apply}}" [value]="apply"
                                (change)="onRadioSelected($event)"
                                required style="width: 100%">{{ apply }}
                  </label>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <br>
          <button id="btnSubmit2" class="btn btn-primary" type="submit" (click)="nextStudent()" [disabled]="!f.valid">
            Submit
          </button>
        </form>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Add module">
      <ng-template ngbTabContent>
        <br>
        <form (ngSubmit)="onSubmitModule(p)" #p="ngForm">
          <div class="form-group">
            <label for="code">Module code</label>
            <input type="text" class="form-control" id="code" ngModel name="code" required name="code" maxlength="10"
                   #code="ngModel">
            <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger" style="width: 35vw">
              <div *ngIf="code.errors.required">
                A Module code is required.
              </div>
              <div *ngIf="code.errors.maxlength">
                Module code cannot be longer than 10 characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Module name</label>
            <input type="text" class="form-control" id="name" ngModel name="name" required name="name" maxlength="50"
                   #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" style="width: 35vw">
              <div *ngIf="name.errors.required">
                A Module name is required.
              </div>
              <div *ngIf="name.errors.maxlength">
                Module name cannot be longer than 50 characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="credits">Module Credit</label>
            <input type="text" class="form-control" id="credits" ngModel name="credits" required name="credits"
                   maxlength="2" #credits="ngModel">
            <div *ngIf="credits.invalid && (credits.dirty || credits.touched)" class="alert alert-danger"
                 style="width: 35vw">
              <div *ngIf="credits.errors.required">
                Module credit is required.
              </div>
              <div *ngIf="credits.errors.maxlength">
                Title cannot be longer than 2 characters.
              </div>
            </div>
          </div>
          <br>
          <button id="btnSubmit1" class="btn btn-primary" type="submit" required [disabled]="!d.valid">Submit</button>
        </form>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="PDF Form">
      <ng-template ngbTabContent>

        <form (ngSubmit)="getStudentPDFInfo(j)" #j="ngForm">
          <div class="form-group">
            <label for="nwunumber3" style="color: white">NWU number:</label>
            <input type="text" id="nwunumber3" class="form-control" ngModel name="nwunumber3" pattern="\d*"
                   maxlength="8"
                   minlength="8" required #nwunumber3="ngModel">
            <div *ngIf="nwunumber3.invalid && (nwunumber3.dirty || nwunumber3.touched)" class="alert alert-danger"
                 style="width: 35vw">

              <div *ngIf="nwunumber3.errors.required">
                NWU number is required.
              </div>
              <div *ngIf="nwunumber3.errors.minlength">
                NWU number must be 8 characters long.
              </div>
              <div *ngIf="nwunumber3.errors.pattern">
                Must only be numbers.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!j.valid">Get Info
          </button>
        </form>

        <form name="pdfForm">
          <div class="form-group" id="contentToConvert">
            <label style="color: black">SECTION C:  PERSONAL PARTICULARS OF TEMPORARY EMPLOYEES </label>
            <table style="width: 100%">
              <tbody>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 16%; color: black">NWU Nr. (if applicable)</td>
                    <td style="width: 45%; background-color: white; color: black">{{NwuNumber}}</td>
                    <td style="background-color: lightgray; width: 16%; color: black">Title</td>
                    <td style="background-color: white; width: 16%; color: black">{{Title}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 16%; color: black">Surname</td>
                    <td style="width: 45%; background-color: white; color: black">{{Surname}}</td>
                    <td style="background-color: lightgray; width: 16%; color: black">Initials</td>
                    <td style="background-color: white; width: 16%; color: black">{{Initials}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Full Names</td>
                    <td style="width: 84%; background-color: white; color: black">{{FullNames}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Preferred Name</td>
                    <td style="width: 30%; background-color: white; color: black">{{PrefferedName}}</td>
                    <td style="background-color: lightgray; width: 13%; color: black">Extension</td>
                    <td style="width: 13%; background-color: white; color: black">{{Extension}}</td>
                    <td style="background-color: lightgray; width: 13%; color: black">Internal Box</td>
                    <td style="width: 13%; background-color: white; color: black">{{InternalBox}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.5%; color: black">Gender (for statistical use)</td>
                    <td style="width: 33%; background-color: white; color: black">{{Gender}}</td>
                    <td style="background-color: lightgray; width: 8%; color: black"><b>Marital Status</b></td>
                    <td style="width: 10%; background-color: white; color: black">{{MaritalStatus}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 15%; color: black">Maiden Name</td>
                    <td style="width: 40%; background-color: white; color: black">{{MaidenName}}</td>
                    <td style="background-color: lightgray; width: 16%; color: black">Correspondence Preference</td>
                    <td style="width: 17%; background-color: white; color: black">{{CorrespondencePref}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.2%; color: black">Race (for statistical use)</td>
                    <td style="width: 50%; background-color: white; color: black">{{Race}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 11.4%; color: black">Date of Birth</td>
                    <td style="width: 30%; background-color: white; color: black">{{DoB}}</td>
                    <td style="background-color: lightgray; width: 13%; color: black">Home Language</td>
                    <td style="width: 13%; background-color: white; color: black">{{HOmeLanguage}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Nationality</td>
                    <td style="width: 84%; background-color: white; color: black">{{Nationaity}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.2%; color: black">Identity Nr.</td>
                    <td style="width: 50%; background-color: white; color: black">{{IDNumber}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 11.5%; color: black">Passport Nr. </td>
                    <td style="width: 30%; background-color: white; color: black">{{PaspportNR}}</td>
                    <td style="background-color: lightgray; width: 13%; color: black">Expiry Date</td>
                    <td style="width: 13%; background-color: white; color: black">{{passportExpiryDate}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 11.5%; color: black">Work Permit Nr. </td>
                    <td style="width: 30%; background-color: white; color: black"></td>
                    <td style="background-color: lightgray; width: 13%; color: black">Expiry Date</td>
                    <td style="width: 13%; background-color: white; color: black"></td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.2%; color: black">Income Tax Nr.</td>
                    <td style="width: 50%; background-color: white; color: black">{{TaxNumber}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 8.2%; color: black">Residential Address</td>
                    <td style="width: 16%; background-color: white; color: black">{{ResidentialAddress}}</td>
                    <td style="background-color: lightgray; width: 8%; color: black">Postal Address</td>
                    <td style="width: 16%; background-color: white; color: black">{{PostAddress}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 8.2%; color: black">Code</td>
                    <td style="width: 16%; background-color: white; color: black">{{ZipCode}}</td>
                    <td style="background-color: lightgray; width: 8%; color: black">Code</td>
                    <td style="width: 16%; background-color: white; color: black"></td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 8.2%; color: black">Home Telephone Nr.</td>
                    <td style="width: 16%; background-color: white; color: black">{{TelNumber}}</td>
                    <td style="background-color: lightgray; width: 8%; color: black">Mobile Nr.</td>
                    <td style="width: 16%; background-color: white; color: black">{{MobileNumber}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 8.2%; color: black">Work Telephone Nr.</td>
                    <td style="width: 16%; background-color: white; color: black"></td>
                    <td style="background-color: lightgray; width: 8%; color: black">E-mail address</td>
                    <td style="width: 16%; background-color: white; color: black">{{Email}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 40%; color: black">Where you previously employed by NWU?</td>
                    <td style="width: 60%; background-color: white; color: black">{{NWUprevious}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 40%; color: black">Are you employed by an employer other than the NWU?</td>
                    <td style="width: 60%; background-color: white; color: black">{{EmployPrevious}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 40%; color: black">Are you self-employed?</td>
                    <td style="width: 60%; background-color: white; color: black">{{selfEmploy}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 40%; color: black">Highest Qualification</td>
                    <td style="width: 60%; background-color: white; color: black">{{highestQualification}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              </tbody>
            </table>

            <label style="color: black">SECTION D:  BANK DETAILS: (No payment will be made if these details are not provided.)</label>
            <table style="width: 100%">
              <tbody>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.2%; color: black">Account type</td>
                    <td style="width: 50%; background-color: white; color: black">{{accountType}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Bank branch code</td>
                    <td style="width: 84%; background-color: white; color: black">{{branchCode}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Account Nr.</td>
                    <td style="width: 84%; background-color: white; color: black">{{AccountNR}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 17%; color: black">Name of bank</td>
                    <td style="width: 84%; background-color: white; color: black">{{BankNAme}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 13%; color: black">Account holder</td>
                    <td style="background-color: lightgray; width: 12%; color: black">Surname</td>
                    <td style="width: 20%; background-color: white; color: black">{{AccountHolderSurname}}</td>
                    <td style="background-color: lightgray; width: 12%; color: black">Initials</td>
                    <td style="width: 20%; background-color: white; color: black">{{AccountholderInitials}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.2%; color: black">Account type</td>
                    <td style="width: 50%; background-color: white; color: black">{{AccountTypeInfo}}</td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              <tr>
                <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid" style="width: 100%">
                  <tbody>
                  <tr>
                    <td style="background-color: lightgray; width: 10.6%; color: black; height: 1cm">Signature: Temporary Employee</td>
                    <td style="width: 20%; background-color: white; color: black"></td>
                    <td style="background-color: lightgray; width: 12%; color: black">Date:</td>
                    <td style="width: 20%; background-color: white; color: black"></td>
                  </tr>
                  </tbody>
                </table>
              </tr>
              </tbody>
            </table>
          </div>

          <button (click)="generatePDF()">Download PDF</button>

        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Student files">
      <ng-template ngbTabContent>
        <form #r="ngForm">
          <div class="form-group">
            <label for="nwunumber1" style="color: white">NWU number:</label>
            <input type="text" id="nwunumber1" class="form-control" ngModel name="nwunumber1" pattern="\d*"
                   maxlength="8"
                   minlength="8" required #nwunumber1="ngModel">
            <div *ngIf="nwunumber1.invalid && (nwunumber1.dirty || nwunumber1.touched)" class="alert alert-danger"
                 style="width: 35vw">

              <div *ngIf="nwunumber1.errors.required">
                NWU number is required.
              </div>
              <div *ngIf="nwunumber1.errors.minlength">
                NWU number must be 8 characters long.
              </div>
              <div *ngIf="nwunumber1.errors.pattern">
                Must only be numbers.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" (click)="download('27678825')" [disabled]="!r.valid">Get Info
          </button>
        </form>
        <label>Download ID:</label><br>
        <button class="btn btn-primary">Download</button>
        <br>
        <label>Download Student Registration:</label><br>
        <button class="btn btn-primary">Download</button>
        <br>
        <label>Download Passport:</label><br>
        <button class="btn btn-primary">Download</button>
        <br>
        <label>Download Study Permit:</label><br>
        <button class="btn btn-primary">Download</button>
        <br>
        <label>Download Permission to Conduct Work Form:</label><br>
        <button class="btn btn-primary">Download</button>
        <br>
        <br><br>

        <button type="button" (click)="getImageFromService()">Get Image</button>

        <img [src]="imageToShow" alt="Place image title">
        <ng-template>
          <img src="fallbackImage.png" alt="Fallbackimage">
        </ng-template>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
</body>
