<body style="background-color: transparent; padding-top: 2.1cm">
<div class="container-fluid img-rounded" style="background-color: black; opacity: 0.7; width: fit-content; padding: 10px">
  <ngb-tabset>
    <ngb-tab title="Announcement">
      <ng-template ngbTabContent>
        <form  (ngSubmit)="onSubmit(f)" #f="ngForm">
          <select>
            <option value="val1">All</option>
            <option value="val2">Students</option>
            <option value="val3">Lecturers</option>
          </select>
          <br>
          <label>Please add a announcement?</label>
          <br>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px; width: 80vw"></textarea>
          <br>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Login</button>
        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</body>
