<body style="background-color: transparent; padding-top: 2.1cm">
<div class="container-fluid img-rounded" style="background-color: black; opacity: 0.7; width: 100vw; padding: 15px">
  <ngb-tabset>
    <ngb-tab title="Announcement">
      <ng-template ngbTabContent>
        <form  (ngSubmit)="onSubmitAnnouncement(f)" #f="ngForm" ngForm="disabled">
          <label style="color: white">Send announcement to:</label>
          <br>
          <select type="text" class="form-control" id="to" name="to" ngModel required>
            <option value="All">All</option>
            <option value="Students">Students</option>
            <option value="Lecturers">Lecturers</option>
          </select>
          <br>
          <label for="anouncement" style="color: white">Announcement:</label>
          <br>
          <textarea type="text" id="anouncement" ngModel name="anouncement" placeholder="Write something.."
                    style="height:200px; width: 97vw" required></textarea>
          <br>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
      </ng-template>
    </ngb-tab>

    //********************************************************************************************************

    <ngb-tab title="Add Lecturers">
      <ng-template ngbTabContent>
        <form (ngSubmit)="onSubmitLecturer(d)" #d="ngForm">

          <div class="form-group">
            <label for="preferredname" style="color: white">Preferred Name:</label>
            <input type="text" class="form-control" id="preferredname" ngModel name="preferredname" pattern="[a-zA-Z ]*"
                   required name="preferredname" maxlength="20" #preferredname="ngModel">
            <div *ngIf="preferredname.invalid && (preferredname.dirty || preferredname.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="preferredname.errors.required">
                A name is required.
              </div>
              <div *ngIf="preferredname.errors.maxlength">
                Title cannot be longer than 20 characters.
              </div>
              <div *ngIf="preferredname.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="surname" style="color: white">Surname:</label>
            <input type="text" class="form-control" id="surname" ngModel name="surname" pattern="[a-zA-Z ]*" required
                   #surname="ngModel" maxlength="20">
            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="surname.errors.required">
                Surname is required.
              </div>
              <div *ngIf="surname.errors.maxlength">
                Title cannot be longer than 20 characters.
              </div>
              <div *ngIf="surname.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="title" style="color: white">Title:</label>
            <input type="text" id="title" class="form-control" placeholder="e.g Mr/Miss" pattern="[a-zA-Z ]*"
                   maxlength="4"
                   ngModel name="title" required #title="ngModel">
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="title.errors.required">
                Title is required.
              </div>
              <div *ngIf="title.errors.maxlength">
                Title cannot be longer than 4 characters.
              </div>
              <div *ngIf="title.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nwunumber" style="color: white">NWU number:</label>
            <input type="text" id="nwunumber" class="form-control" ngModel name="nwunumber" pattern="\d*" maxlength="8"
                   minlength="8" required #nwunumber="ngModel">
            <div *ngIf="nwunumber.invalid && (nwunumber.dirty || nwunumber.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="nwunumber.errors.required">
                NWU number is required.
              </div>
              <div *ngIf="nwunumber.errors.minlength">
                NWU number must be 8 characters long.
              </div>
              <div *ngIf="nwunumber.errors.pattern">
                Must only be numbers.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="role" style="color: white">Role:</label>
            <input type="text" id="role" class="form-control" placeholder="Lecturer" pattern="[a-zA-Z ]*" maxlength="20"
                   ngModel name="role" required #role="ngModel">
            <div *ngIf="role.invalid && (role.dirty || role.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="role.errors.required">
                Role is required.
              </div>
              <div *ngIf="role.errors.maxlength">
                Role cannot be longer than 15 characters.
              </div>
              <div *ngIf="title.errors.pattern">
                Can only contain letters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="telephonenumber" style="color: white">Telephone number:</label>
            <input type="text" id="telephonenumber" class="form-control" pattern="\d*" maxlength="10"
                   ngModel name="telephonenumber" required #telephonenumber="ngModel">
            <div *ngIf="telephonenumber.invalid && (telephonenumber.dirty || telephonenumber.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="telephonenumber.errors.required">
                Telephone number is required.
              </div>
              <div *ngIf="nwunumber.errors.pattern">
                Must only be numbers.
              </div>
              <div *ngIf="telephonenumber.errors.maxlength">
                Telephone number cannot be longer than 10 characters.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" style="color: white">E-mail address:</label>
            <input type="email" class="form-control" placeholder="@student.g.nwu.ac.za" id="email" ngModel name="email"
                   email
                   #email="ngModel" required maxlength="50">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="email.errors.required">
                E-mail address is required.
              </div>
              <div *ngIf="telephonenumber.errors.maxlength">
                E-mail cannot be longer than 50 characters.
              </div>
              <div *ngIf="email.errors.email">
                Not a valid E-mail address.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" style="color: white">Password:</label>
            <input type="password" id="password" class="form-control" ngModel name="password" required
                   #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="password.errors.required">
                Password address is required.
              </div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit" required [disabled]="!d.valid">Submit</button>

        </form>
      </ng-template>
    </ngb-tab>

    //************************************************************************************************************

    <ngb-tab title="Add Students">
      <ng-template ngbTabContent>
        <br>
        <button class="btn btn-primary" (click)="onGetStudentApplication()">Get student applications</button>
        <form #f="ngForm">
        <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid img-rounded" style="padding: 25px; padding-top: 2.1cm">
          <thead style="color: purple">
          <tr>
            <th>Student Number</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Module Name</th>
            <th>Module ID</th>
            <th>Module Mark</th>
            <th>Apply</th>
          </tr>
          </thead>
          <tbody style="background-color: black">
          <tr>
          <td>{{data[arr].NwuNumber | json}}</td>
          <td>{{data[arr].DemiId | json}}</td>
          <td>{{data[arr].demiName | json}}</td>
          <td>{{data[arr].modulename | json}}</td>
          <td>{{data[arr].ModuleId | json}}</td>
            <td>{{data[arr].moduleMark | json}}</td>
          <td style="align: left; width: 160px">
            <div class="radio" *ngFor="let apply of apply">
              <label><input type="radio" name="apply" ngModel id="{{apply}}" [value]="apply"
                            (change)="onRadioSelected($event)" required style="width: 100%">{{
                apply }}</label>
            </div>
          </td>
          </tr>
          </tbody>
        </table>
          <button class="btn btn-primary" type="submit" (click)="nextStudent()" [disabled]="!f.valid">Submit</button>
        </form>
      </ng-template>
    </ngb-tab>

    //*************************************************************************************************

    <ngb-tab title="Add module">
      <ng-template ngbTabContent>
        <br>
        <form (ngSubmit)="onSubmitModule(d)" #d="ngForm">

          <div class="form-group">
          <label for="code" style="color: white">Module code:</label>
          <input type="text" class="form-control" id="code" ngModel name="code"
                 required name="code" maxlength="10" #code="ngModel">
          <div *ngIf="code.invalid && (code.dirty || code.touched)"
               class="alert alert-danger" style="width: 35vw">

            <div *ngIf="code.errors.required">
              A Module code is required.
            </div>
            <div *ngIf="code.errors.maxlength">
              Module code cannot be longer than 10 characters.
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="name" style="color: white">Module name:</label>
            <input type="text" class="form-control" id="name" ngModel name="name"
                   required name="name" maxlength="50" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="name.errors.required">
                A Module name is required.
              </div>
              <div *ngIf="name.errors.maxlength">
                Module name cannot be longer than 50 characters.
              </div>
            </div>
            <button id="btnSubmit" class="btn btn-primary" type="submit" required [disabled]="!d.valid">Pull
              Information</button>
          </form>
          <form name="pdfForm">
              <div class="form-group">
                  <table cellpadding="0" cellspacing="0" ng-show="IsVisible" class="container-fluid">
                    <thead>
                      <tr>
                        <th>NWU Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{theForm.NwuNumber}}</td>                 
                      </tr>
                    </tbody>
                  </table>
          </div>

          <div class="form-group">
            <label for="credits" style="color: white">Module Credit:</label>
            <input type="text" class="form-control" id="credits" ngModel name="credits"
                   required name="credits" maxlength="2" #credits="ngModel">
            <div *ngIf="credits.invalid && (credits.dirty || credits.touched)"
                 class="alert alert-danger" style="width: 35vw">

              <div *ngIf="credits.errors.required">
                Module credit is required.
              </div>
            </form>
        </ng-template>
      </ngb-tab>
              <div *ngIf="credits.errors.maxlength">
                Title cannot be longer than 2 characters.
              </div>
            </div>
          </div>

          <br>
          <button class="btn btn-primary" type="submit" required [disabled]="!d.valid">Submit</button>

        </form>
      </ng-template>
    </ngb-tab>

    //*******************************************************************************************

    <ngb-tab title="Student files">
      <ng-template ngbTabContent>
        <form #r="ngForm">
        <div class="form-group">
          <label for="nwunumber1" style="color: white">NWU number:</label>
          <input type="text" id="nwunumber1" class="form-control" ngModel name="nwunumber1" pattern="\d*" maxlength="8"
                 minlength="8" required #nwunumber1="ngModel">
          <div *ngIf="nwunumber1.invalid && (nwunumber1.dirty || nwunumber1.touched)"
               class="alert alert-danger" style="width: 35vw">

            <div *ngIf="nwunumber1.errors.required">
              NWU number is required.
            </div>
            <div *ngIf="nwunumber1.errors.minlength">
              NWU number must be 8 characters long.
            </div>
            <div *ngIf="nwunumber1.errors.pattern">
              Must only be numbers.
            </div>
          </div>
        </div>
        <button class="btn btn-primary"
                type="submit" (click)="download('27678825')"
                [disabled]="!r.valid">Get Info</button>
        </form>
        <label>Download ID:</label><br>
        <button class="btn btn-primary">Download</button><br>
        <label>Download Student Registration:</label><br>
        <button class="btn btn-primary">Download</button><br>
        <label>Download Passport:</label><br>
        <button class="btn btn-primary">Download</button><br>
        <label>Download Study Permit:</label><br>
        <button class="btn btn-primary">Download</button><br>
        <label>Download Permission to Conduct Work Form:</label><br>
        <button class="btn btn-primary">Download</button><br>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
    </ngb-tabset>
  </div>
</body>