h1, h2, h3, h4, label, p, li {
  color: white;
}
input {
  width: 20%;
  background-color: white;
  color: black;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px green;
  border-style: solid;
}
select {
  width: 15vw;
}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  color: black;
}
table thead {
  background-color: white;
}
table tbody {
  background-color: black;
}
label,td,tr {
  color: white;
}
body {
  background-color: transparent;
}
textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
#main {
  background-color: black;
  opacity: 0.7;
  padding: 20px;
  width: 85%;
  border-radius: 15px;
  margin-bottom: 80px;
}
#btnSubmit, #btnGet, #getImg1, #getImg2, #getImg3, #getImg4, #getImg5 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
#btnSubmit:hover, #getImg1:hover, #getImg2:hover, #getImg3:hover, #getImg4:hover, #getImg5:hover, #btnGet:hover {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
#btnSubmit:active, #getImg1:active, #getImg2:active, #getImg3:active, #getImg4:active, #getImg5:active, #btnGet:active {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
#btnSubmit:focus, #getImg1:focus, #getImg2:focus, #getImg3:focus, #getImg4:focus, #getImg5:focus, #btnGet:focus {
  transition-duration: 0.2s;
  background-color: black;
  color: white;
  border-color: white;
  opacity: 1;
}
#getImg1, #getImg2, #getImg3, #getImg4, #getImg5, #btnGet {
  width: 270px;
}
#tableLabel {
  margin-left: 5px;
  padding-top: 5px;
  color: black;
}
#contentToConvert {
  padding: 5px;
  background-color: white;
}
