<body style="background-color: transparent; padding-top: 2.1cm">
<div  class="img-rounded center-block" align="center" style="opacity: 0.6; background-color: black; width: fit-content; padding: 10px">
<h2 style="color: white">Login</h2>
  <label style="color: white">Username</label>
  <input type="text" class="form-control" style="width: 200px;"/>
  <label style="color: white">Password</label>
  <input type="password" class="form-control" style="width: 200px;"/>
  <br>
  <div class="form-group form-check">
    <label class="form-check-label" style="color: white">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button class="btn btn-primary" routerLink="/info">Login</button>
  <br>
  <p style="color: white">
  <a href="#" routerLink="register" style="color: deepskyblue">Register</a>
    - if you don't have an account!
  </p>
</div>
</body>
